.warnalatar{
	background-color: #E5E5E5;
}
.warnalatar input{
	font-size: 20px;
}
.container{
	max-width: 400px;
}
.jawaban{
	height: 100px;
}
.tombol{
	text-align: center;
}
.tombol .btn{
	height: 100%;
	width: 100%;
	padding: 30px 30px;
	border:0px;
}
.tombol > .col-xs-3{
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 0px;
}
.btn-default{
	border-color: #E5E5E5;
	background-color: #E5E5E5;
}
.btn-default:hover{
	border-color: #E5E5E5;
	background-color: #5E5B5B;
	color:#fff;
}
